.App {
  display: flex;
  text-align: center;
  height: 100vh;

  background: #292D30;
  overflow: hidden;
  /* background: white; */

  /* border: red solid;
  box-sizing: border-box; */
}

.App-unAuth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 100px; */
  height: 100vh;
  background: #292D30;
  color: white;

  /* border: red solid;
  box-sizing: border-box; */
}

.signup-link {
  /* position: absolute;
  top: 98px;
  right: 60px; */
  width: 150px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-items: flex-start; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  user-select: none;
  /* identical to box height */

  text-align: center;

  color: white;
  background: transparent;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;

  /* border: red solid; */
}

.signup-link:hover {
  background-color: #118AF7;
}

.first-name {
  width: 50px;
  border: blue solid;
}

.login-title,
.forgot-title,
.signup-title {
  /* display: flex;
  align-items: center;
  letter-spacing: -0.333333px; */

  /* display: block; */
  width: 100%;
  margin-bottom: 40px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;

  color: #FFFFFF;
  /* border: yellow solid;
  box-sizing: border-box; */
}

.forgot-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* border: red solid;
  box-sizing: border-box; */
}

.forgot-form label {
  display: block;
  width: 339px;
  height: 110px;
  /* margin-top: 22px; */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
  /* border: blue solid;
  box-sizing: border-box; */
}

.forgot-form input {
  display: block;
  width: 319px;
  height: 49px;
  padding-left: 20px;
  margin-bottom: 3px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #202223;

  border: 0;
  color: #FFFFFF;
}

.forgot-form input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* background-color: red !important; */
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: inset 0 0 0px 9999px #202223;
}

.login-form {
  display: inline-block;
  /* flex-direction: column;
  justify-content: center; */
  /* align-items: flex-start; */

  /* border: red solid;
  box-sizing: border-box; */
}

.login-form label {
  display: block;
  width: 339px;
  height: 110px;
  /* margin-top: 22px; */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
  /* border: blue solid;
  box-sizing: border-box; */
}

.login-form input {
  display: block;
  width: 319px;
  height: 49px;
  padding-left: 20px;
  margin-bottom: 3px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #202223;

  border: 0;
  color: #FFFFFF;
}

.login-form input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* background-color: red !important; */
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: inset 0 0 0px 9999px #202223;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* align-items: flex-start; */

  /* border: green solid;
  box-sizing: border-box; */
}


.signup-form label:nth-child(2) {
  display: block;
  width: 339px;
  height: 90px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
  /* border: blue solid;
  box-sizing: border-box; */
}

.signup-form label:nth-child(2) div {
  /* display: inline-block; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  /* border: rgb(0, 255, 42) solid;
  box-sizing: border-box; */
}

.signup-form label:nth-child(2) input {
  width: 42%;
  height: 49px;
  padding-left: 20px;
  margin-bottom: 3px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #202223;

  border: 0;
  color: #FFFFFF;
}

.signup-form label:nth-child(n+3) {
  display: block;
  width: 339px;
  height: 90px;
  /* margin-top: 22px; */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
  /* border: blue solid;
  box-sizing: border-box; */
}

.signup-form label:nth-child(n+3) input {
  display: block;
  width: 319px;
  height: 49px;
  padding-left: 20px;
  margin-bottom: 3px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #202223;

  border: 0;
  color: #FFFFFF;
}

.signup-form input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* background-color: red !important; */
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: inset 0 0 0px 9999px #202223;
}

.login-btn,
.forgot-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* padding-left: 90px; */
  height: 65px;
  width: 339px;
  user-select: none;

  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;


  background-color: #118AF7;
  /* border: blue solid;
  box-sizing: border-box; */
}

.signup-btn {
  display: flex;
  /* align-items: flex-end; */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* padding-left: 90px; */
  width: 150px;
  height: 48px;
  user-select: none;

  list-style: none;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;


  background-color: #118AF7;
  /* border: blue solid;
  box-sizing: border-box; */
}

.login-btn:hover,
.forgot-btn:hover,
.signup-btn:hover {
  border: 1px white solid;
  box-sizing: border-box;
}

.errorMessage {
  color: red;
  white-space: nowrap;
}

.forgot {
  margin-top: 10px;
  text-decoration: underline;
  /* width: 100%; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  cursor: pointer;

  /* border: red solid; */
}
.Headerbar-tab-clock{
  display:flex;
  align-items: center;
  justify-content: center;
  width:200px;
  height:100%;
  border: blue solid;
}
.Headerbar {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 50px;
  /* width: vw; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: #383C41;
  color: #ccccda;
  z-index: 1;
  /* overflow:hidden; */
}
.Headerbar-tab-collection{
  display: flex;
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* width:90%; */
  width:100%;
  height: 70px;
  border: red solid;
  overflow-x: scroll;
  overflow-y:hidden;
}
.Headerbar-tab-collection>div {
  display:flex;
  align-items: center;
  justify-content: center;
  border-right: 1px white solid;
  box-sizing:border-box;
  width: 100%;
  max-width: 200px;
  height:100%;
  white-space: nowrap;
  padding: 0px 5px 0px 5px;
  /* border: red solid; */
}

.redux-info {
  /* display: none; */
  position: absolute;
  top: 40%;
  left: 40%;

  /* border: green solid;
  box-sizing: border-box; */
}

.content {
  /* position: relative; */
  display: block;
  /* justify-content: center;
  align-items: center; */
  width: 1920px;
  height: 1080px;
  color: white;
  /* background: red; */
  /* border: red solid;
  box-sizing: border-box; */
}

.content-page {
  /* position: absolute; */
  margin-top: 50px;
  margin-left: 250px;
  /* padding-top: 30px; */
  padding-top: 0px;
  padding-left: 60px;
  padding-right: 60px;
  /* top: 50px;
  bottom: 0;
  right: 0;
  left: 250px; */
  display: block;
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  /* width: 100%; */

  /* border: white solid;
  box-sizing: border-box; */
}

.upload-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 54px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  /* border: yellow solid; */
}

.upload-checkbox-label {
  display: flex;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  user-select: none;
  cursor: pointer;
  /* identical to box height */

  text-align: center;
}

.upload-checkbox-label:hover {
  color: #118AF7;
  /* border: 1px #118AF7 solid; */
  /* box-sizing: border-box; */
}

.upload-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border: 1.5px white solid;
  box-sizing: border-box;
}

.upload-checkbox:hover {
  border: 1.5px #118AF7 solid;
}

.upload-checkbox.act {
  border: 1.5px #118AF7 solid;
}

.upload-checkbox.act>div {
  width: 10px;
  height: 10px;
  background: #118AF7;
  box-sizing: border-box;
}

.upload-btn {
  margin-right: 15px;
  width: 140px;
  height: 42px;
  background: #383C41;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  filter: drop-shadow(0px 15px 30px rgba(25, 25, 25, 0.15));
  color: white;
}

.upload-btn:hover {
  border: 1px #118AF7 solid;
  box-sizing: border-box;
}

.upload-btn:active {
  color: #118AF7;
}

.upload-btn:active .upload-icon {
  stroke: #118AF7;
}

.upload-btn.upload {
  width: 160px;
  height: 48px;
  margin-right: 0;
  font-weight: 500;
  font-size: 24px;
  background: #118AF7;
}

.upload-btn.upload:hover {
  border: 1px white solid;
  box-sizing: border-box;
}

.upload-btn.upload:active {
  border: 1px #118AF7 solid;
  background: #383C41;
}

.upload-table {
  position: relative;
  width: 1600;
  height: 810px;
  margin-top: 50px;
  background: #383C41;
  /* opacity: 0.3; */
  box-shadow: 0px 15px 30px rgba(25, 25, 25, 0.15);
  border-radius: 5px;

  /* border: red solid;
  box-sizing: border-box; */
}

.dashboard-title {
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: green solid;
  box-sizing: border-box; */
}

.dashboard-text {
  /* display: inline; */
  /* position: absolute; */
  /* left: 3%;
  top: 3%; */
  /* top: 20px;
  left: 30px; */
  /* display: block; */
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  /* line-height: 24px; */
  white-space: nowrap;
  color: #FFFFFF;

  /* border: green solid;
  box-sizing: border-box; */
}

.dashboard-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  height: 750px;
  /* border: white solid;
  box-sizing: border-box; */
}

.dashboard-box1 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 941px;
  height: 740px;
  background: #383C41;
  /* padding: 49px 35px; */
  /* opacity: 0.6; */
  box-shadow: 0px 15px 30px rgba(25, 25, 25, 0.15);
  border-radius: 5px;
  /* max-height: 700vh; */
  /* border: 0px red solid;
  box-sizing: border-box; */
}

.dashboard-box1>span {
  margin: 3px 35px;
  align-self: flex-start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.6;
}

.dashboard-box1>span:first-child {
  margin-top: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  opacity: 1;
}

.dashboard-box2 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin-left: 35px; */
  width: 544px;
  height: 740px;
  background: #383C41;
  /* opacity: 0.6; */
  box-shadow: 0px 15px 30px rgba(25, 25, 25, 0.15);
  border-radius: 5px;
  /* border: red solid;
  box-sizing: border-box; */
}

.dashboard-box2>span {
  margin: 3px 35px;
  align-self: flex-start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.6;
}

.dashboard-box2>span:first-child {
  margin-top: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  opacity: 1;
}

.dashboard-box2>span:nth-child(3) {
  position: absolute;
  align-self: center;
  top: 500px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 110px;
  opacity: 1;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}

.dashboard-box2>span:nth-child(4) {
  position: absolute;
  align-self: center;
  top: 600px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  opacity: 1;
  /* identical to box height */

  text-align: center;
}

.view-box {
  width: 1550px;
  height: 850px;
  margin-top: 20px;
}

.analysis-box {
  /* display: block; */
  /* padding-top:100px; */
  position: absolute;
  top: 150px;
  left: 300px;
  width: 1545px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  /* background:white; */

  /* border: green solid;
  box-sizing: border-box; */
}

.analysis-box1 {
  /* position: absolute; */
  /* left: 3%;
  top: 20%; */
  /* top: 150px;
  left: 30px; */
  /* display: flex;
  flex-direction: column; */
  /* align-items; */
  margin: 0px 10px;
  width: 770px;
  height: 800px;
  background: #383C41;
  box-shadow: 0px 15px 30px rgba(25, 25, 25, 0.15);
  border-radius: 5px;
  /* max-height: 700vh; */
  /* border: blue solid;
  box-sizing: border-box; */
}

.analysis-box1-title {
  /* margin-top: 20px; */
  /* display: inline-block; */
  margin: 35px 0px 21px 45px;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */

  color: #FFFFFF;
  /* border: blue solid;
  box-sizing: border-box; */
}

.BrainImage {
  /* border: 1px red solid;
  box-sizing: border-box; */
  /* position: absolute; */
  /* top: 10px;
  left: 10px; */
  fill: white;
  /* stroke: red; */
  width: 100%;
  /* height: 512px; */
}

.analysis-score {
  /* border-right: 10px red solid; */
  box-sizing: border-box;
  text-align: end;
  /* display: flex;
  justify-content: flex-end; */
  padding-right: 10px;
  height: 50%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */


  color: #FFFFFF;
}

.analysis-box1-content {
  margin: 0px 0px 10px 45px;
  width: 650px;
  /* height: 650px; */
  /* border: red solid;
  box-sizing: border-box; */
}

.analysis-box1-content>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  border-top: 2px #2A2E31 solid;
  box-sizing: border-box;
  /* opacity: 0.5; */
}

.analysis-box1-content>div:hover {
  background: #2A2E31;
  opacity: 1;
}

/* .analysis-box1-content>div>div {
  border: white solid;
  box-sizing: border-box;
  width: 160px;
} */

.analysis-box2 {
  /* position: absolute; */
  /* top: 20%;
  left: 61%; */
  /* top: 150px;
  left: 300px; */
  margin: 0px 10px;
  width: 770px;
  height: 800px;
  background: #383C41;
  box-shadow: 0px 15px 30px rgba(25, 25, 25, 0.15);
  border-radius: 5px;
  /* border: red solid;
  box-sizing: border-box; */
  /* border: red solid;
  box-sizing: border-box; */
}

.analysis-box2-title {
  /* margin-top: 20px; */
  /* display: inline-block; */
  margin: 35px 0px 21px 45px;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */

  color: #FFFFFF;
  /* border: blue solid;
  box-sizing: border-box; */
}

.analysis-box2-content {
  margin: 0px 40px 0px 40px;
  border: red solid;
  box-sizing: border-box;
}

.analysis-box3 {
  /* position: absolute; */
  /* left: 3%;
  top: 20%; */
  /* top: 150px;
  left: 30px; */
  margin: 0px 10px;
  /* width: 1550px; */
  width: 755px;
  height: 800px;
  background: #383C41;
  box-shadow: 0px 15px 30px rgba(25, 25, 25, 0.15);
  border-radius: 5px;
  /* max-height: 700vh; */
  /* border: yellow solid;
  box-sizing: border-box; */
}

.analysis-box3-title {
  /* margin-top: 20px; */
  /* display: inline-block; */
  margin: 35px 0px 41px 45px;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */

  color: #FFFFFF;
  /* border: blue solid;
  box-sizing: border-box; */
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 250px;
  display: block;
  /* flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  /* min-height: 10vh; */
  /* padding-top: 50px; */
  /* margin-top: 50px; */
  /* height: 100vh; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
  color: white;
  background: #383C41;
  /* border: green solid;
  box-sizing: border-box; */
}

.sidebar-logo {
  padding-top: 37px;
  padding-bottom: 25px;
  /* border: 1px red solid;
  box-sizing: border-box; */
}

.sidebar-grp1 {
  width: 100%;
  margin-top: 0px;
  /* margin-bottom: 0px; */
  padding-left: 0px;
  /* border: yellow solid;
  box-sizing: border-box; */
}

.sidebar-grp2 {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* margin-top: 0px; */
  margin-bottom: 0px;
  padding-left: 0px;
  /* border: yellow solid;
  box-sizing: border-box; */
}

.sidebar-grp2-menu {
  display: block;
  /* border: red solid;
  box-sizing: border-box; */
}

.sidebar-grp2-menu:hover {
  box-sizing: border-box;
  border-right: 6px #ccccda solid;
  background: #292D30;
}

.sidebar-grp2-menu-title {
  display: flex;
  align-items: center;
  height: 65px;
  /* width: 250px; */
  user-select: none;
  padding-left: 50px;

  list-style: none;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;

  /* border: blue solid;
  box-sizing: border-box; */
}

/* .sidebar-grp1-splitter {
  border: 2px #292D30 solid;
} */

.sidebar-grp1-menu {
  display: block;
}

.sidebar-grp1-menu:hover {
  box-sizing: border-box;
  border-right: 6px #ccccda solid;
  background: #292D30;
}

.sidebar-grp1-menu.act {
  box-sizing: border-box;
  border-right: 6px #118AF7 solid;
  background: #292D30;
  color: #118AF7;
}


.sidebar-grp1-menu-title {
  display: flex;
  align-items: center;
  height: 65px;
  /* width: 250px; */
  user-select: none;
  padding-left: 50px;

  list-style: none;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;

  /* border: 1px blue solid;
  box-sizing: border-box; */
}

.sidebar-grp1-menu-title.act {
  /* color: #118AF7; */
}

.sidebar-grp1-menu-item {
  display: none;
  align-items: center;
  height: 35px;
  /* width: 250px; */
  user-select: none;
  padding-left: 95px;

  list-style: disc;
  text-align: left;
  text-decoration: none;
  color: #ccccda;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  /* border: 1px white solid;
  box-sizing: border-box; */
}

.sidebar-grp1-menu-item.act {
  /* display: flex; */
  color: #118AF7;
}

.sidebar-grp1-menu-item:hover {
  display: flex;
  color: #118AF7;
}

.sidebar-grp1-menu.act .sidebar-grp1-menu-item {
  display: flex;
}

.sidebar-grp1-menu:hover .sidebar-grp1-menu-item {
  display: flex;

}

.sidebar-item {
  display: block;
}

.sidebar-item:hover {
  color: #118AF7;
}

.sidebar-contents:hover .sidebar-item {
  display: block;
}

.sidebar-link {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding-left: 90px; */
  height: 65px;
  width: 250px;
  user-select: none;
  padding-left: 50px;

  list-style: none;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #ccccda;

  border: 0px;
  box-sizing: border-box;
}

.sidebar-link.act {
  /* border: 1px lightblue solid; */
  box-sizing: border-box;
  border-right: 6px #118AF7 solid;
  background: #292D30;
  color: #118AF7;
}

.sidebar-link:hover {
  box-sizing: border-box;
  background: #292D30;
}

.sidebar-link-contents {
  /* border: 1px lightblue solid; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  box-sizing: border-box;
  height: 132px;
  border-right: 6px #118AF7 solid;
  padding-left: 100px;
  background: #292D30;
  /* border: 1px red solid;
  box-sizing: border-box; */
  list-style-type: disc;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
  z-index: 1;
  border: red solid;
}

.sidebar-link:hover .sidebar-link-contents {
  display: flex;
  border: white solid;
  box-sizing: border-box;
  background: #292D30;
}


/* .sidebar-link-contents.unfold {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 32px;
  border-right: 6px #118AF7 solid;
  padding-left: 100px;
  background: #292D30;
  list-style-type: disc;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.sidebar-link-contents.unfold:hover {
  color: #118AF7;
}

.sidebar-link-contents.fold {
  display: none;
} */

.sidebar-link-contents li {
  margin-left: 20px;
}

.login-left {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202223;
}

.login-right {
  width: 52%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;

  /* border: red solid;
  box-sizing: border-box; */
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  /* border: white solid;
  box-sizing: border-box; */
}

.modal {
  z-index: 100;
  position: relative;
  margin: 1.75rem auto;
  margin-top: 169px;
  border-radius: 3px;
  /* max-width: 500px; */
  padding: 2rem;
  width: 1600px;
  height: 760px;
  background: #292D30;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  /* border: red solid;
  box-sizing: border-box; */
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;
  width: 176px;
  user-select: none;
  /* background: #383C41; */
  /* height: 50px; */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  /* line-height: 27px; */
  /* identical to box height */
  text-align: center;
  color: white;

  /* border: blue solid;
  box-sizing: border-box; */
}

.modal-body {
  display: flex;
  justify-content: space-between;
  color: white;
  height: 650px;
  /* background: #2D3135; */
  background: #2C3033;
  border-radius: 5px;
  /* overflow: auto; */
  /* border: red solid; */
}
.checklist-delete {
  /* fill: red;
  stroke: red; */
  stroke: white;
  width: 40px;
  height: 40px;
  /* width: 100px; */
}

.checklist-delete:hover {
  stroke: #118AF7;
}
.worklist-delete {
  /* fill: red;
  stroke: red; */
  stroke: white;
  width: 40px;
  height: 40px;
  /* width: 100px; */
}

.worklist-delete:hover {
  stroke: #118AF7;
}

.upload-icon {
  stroke: white;
  width: 40px;
  height: 40px;
}

.upload-btn.type1 {
  font-weight: 400;
  font-size: 22px;
  background: #118AF7;
}

.upload-btn.type1:hover {
  border: 1px white solid;
  box-sizing: border-box;
}

.upload-btn.type1:active {
  border: 1px #118AF7 solid;
  background: #383C41;
}

.content-title {
  /* z-index:1000; */
  /* position: absolute;
  top:50px;
  width: 1500px; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 40px;
  padding-bottom: 20px;
  /* border: yellow solid; */
}

.content-info {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */


  color: #CCCCCC;
  text-align: left;
}

.content-var {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;

  color: white;
  font-weight: 500;
}

.view-title {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 40px;

  /* border: yellow solid; */
}

.view-info {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */


  color: #CCCCCC;
  text-align: left;
}

.view-var {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;

  color: white;
  font-weight: 500;
}

.view-btn>.view-menu {
  position: absolute;
  top: 48px;
  right: 0px;
  width: 182px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0px 0px;
  /* height: 28px; */
  border-radius: 3px;
  background: #383C41;
  /* border: 1px white solid;
  box-sizing: border-box; */
}

.view-btn>.view-menu>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 34px;
  margin: 0px 0px 8px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;

  text-align: center;

  /* border: 1px red solid;
  box-sizing: border-box; */
}

.view-btn>.view-menu>div:nth-child(1) {
  background: #118AF7;
}

.view-btn>.view-menu>div:nth-child(1):hover {
  background: #118AF7;
  border: 1px white solid;
  box-sizing: border-box;
}

.view-btn>.view-menu>div:nth-child(1):active {
  color: #118AF7;
  background: #383C41;
  border: 1px #118AF7 solid;
  box-sizing: border-box;
}

.view-btn>.view-menu>div:hover {
  border: 1px #118AF7 solid;
  box-sizing: border-box;
}

.view-btn>.view-menu>div:active {
  color: #118AF7;
  background: #383C41;
  border: 1px #118AF7 solid;
  box-sizing: border-box;
}

.view-btn {
  margin-left: 7px;
  /* width: 140px; */
  height: 42px;
  background: #383C41;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  filter: drop-shadow(0px 15px 30px rgba(25, 25, 25, 0.15));
  color: white;
}

.view-btn.opacity-bar {
  padding: 0px 14px 0px;
  width: 180px;
}

.view-btn.colormap-select {
  /* padding: 0px 10px 0px; */
  width: 180px;
}

#colormap {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

#template {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.view-btn.template-select {
  /* padding: 0px 10px 0px; */
  width: 120px;
}

.view-icon {
  width: 42px;
  height: 42px;
  color: white;
  stroke: white;

  background: #383C41;
  box-shadow: 0px 15px 30px rgba(25, 25, 25, 0.15);
  border-radius: 2px;
  /* transform: rotate(-90deg); */
}

.view-icon.show {
  stroke: #118AF7;
  /* border: red solid; */
}

.view-icon:hover {
  /* color: #118AF7; */
  stroke: "white";
  border: 1px #118AF7 solid;
  box-sizing: border-box;
}

.slick-dots {
  width: 0 !important;
  height: 0 !important;
  top: 45% !important;
  left: 100% !important;
}

.slick-dots li {
  display: block !important;
}

.slick-dots li.slick-active button:before {
  color: #118AF7 !important;
}

.slick-dots li button:before {
  color: white !important;
}

/* .slick-slide{
  z-index:-100 !important;
  border: yellow solid !important;
  pointer-events: all !important;
}
.slick-slide.dragging img{
  z-index:-100 !important;
  pointer-events: all !important;
} */

.slick-prev:before {
  content: '' !important;
}

[dir='rtl'] .slick-prev:before {
  content: '' !important;
}

.slick-next:before {
  content: '' !important;
}

[dir='rtl'] .slick-next:before {
  content: '' !important;
}

.setting-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 54px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  /* border: yellow solid; */
}

.setting-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1543px;
  height: 810px;
  margin-top: 50px;

  background: #383C41;
  box-shadow: 0px 15px 30px rgba(25, 25, 25, 0.15);
  border-radius: 5px;
  color: white;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;

  /* border: white solid;
  box-sizing: border-box; */
}

.setting-box>div {
  display: flex;
  padding-left: 70px;
  box-sizing: border-box;
  height: 90%;
  width: 518px;
  /* padding-top: */
  /* border: white solid;
  box-sizing: border-box; */
}

.setting-btn {
  margin-right: 15px;
  width: 140px;
  height: 42px;
  background: #383C41;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  filter: drop-shadow(0px 15px 30px rgba(25, 25, 25, 0.15));
  color: white;
}

.setting-btn:hover {
  border: 1px #118AF7 solid;
  box-sizing: border-box;
}

.setting-btn:active {
  color: #118AF7;
}

.setting-btn:active .setting-icon {
  stroke: #118AF7;
}

.setting-btn.setting {
  width: 160px;
  height: 48px;
  margin-right: 0;
  font-weight: 500;
  font-size: 24px;
  background: #118AF7;
}

.setting-btn.setting:hover {
  border: 1px white solid;
  box-sizing: border-box;
}

.setting-btn.setting:active {
  border: 1px #118AF7 solid;
  background: #383C41;
}

/* .recharts-wrapper{
  display: flex !important;
  justify-content: center  !important;
  border: red solid  !important;
} */
/* modal css */


.modal-right-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
  overflow: hidden;

  /* border: yellow solid;
  box-sizing: border-box; */
}
.modal-right-wrapper.show{
  animation: right-sidebar-out 0.5s forwards;
}
.modal-right-wrapper:hover {
  animation: right-sidebar-out 0.5s forwards;
}
@keyframes right-sidebar-out{
  0% {
    right: -1005px;
  }
  100%{
    /* right: -19px; */
    right: -0px;
  }
}

.modal-right-wrapper:hover+.modal-right-overlay,.modal-right-wrapper.show+.modal-right-overlay {
  display: block;
}

.modal-right-wrapper {
  display: block;
  z-index: 100;
  position: fixed;
  top: 5%;
  right: -1005px;
  width: 1000px;
  height: 85%;
  /* top: 0;
  left: 0; */
  z-index: 1050;
  /* width: 100%; */
  /* height: 100%; */
  /* overflow: hidden; */
  /* outline: 0; */

  /* border: white solid;
  box-sizing: border-box; */
}

.modal-right {
  display: block;
  position: fixed;
  z-index: 100;
  top: 5%;
  height: 85%;
  width: 950px;
  /* position: fixed; */
  /* right: -19px;
  top: 5%; */

  /* margin-top: 169px; */
  border-radius: 20px;
  /* max-width: 500px; */
  padding: 2rem;
  /* width: 1200px; */
  background: #383C41;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  /* border-radius: 5px; */
  border-radius: 25px 0px 0px 25px;
  /* border: 1px white solid; */
  /* border: red solid; */
  /* box-sizing: border-box; */
}

.modal-right-btn {
  position: absolute;
  top: 40%;
  left: -25px;
  width: 25px;
  height: 200px;
  background: #383C41;
  border-radius: 25px 0px 0px 25px;
  border: 1px #383C41 solid;
  /* border: 1px red solid; */
}

.modal-right-btn>div {
  position: absolute;
  top: 80px;
  left: 5px;
  width: 4px;
  height: 30px;
  border-left: 2px white solid;
  border-right: 2px white solid;
}

.modal-right-header {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;
  width: 176px;
  user-select: none;
  /* background: #383C41; */
  /* height: 50px; */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  /* line-height: 27px; */
  /* identical to box height */
  text-align: center;
  color: white;

  /* border: blue solid;
  box-sizing: border-box; */
}

.modal-right-body {
  display: flex;
  justify-content: space-between;
  color: white;
  /* height: 800px; */
  height:85%;
  /* background: #2D3135; */
  background: #3B3C41;
  border-radius: 5px;
  /* overflow: auto; */
  /* border: red solid; */
}

.upload-right-btn {
  margin-right: 15px;
  width: 140px;
  height: 42px;
  background: #292D30;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  filter: drop-shadow(0px 15px 30px rgba(25, 25, 25, 0.15));
  color: white;
}

.upload-right-btn:hover {
  border: 1px #118AF7 solid;
  box-sizing: border-box;
}

.upload-right-btn:active {
  color: #118AF7;
}

.upload-right-btn:active .upload-icon {
  stroke: #118AF7;
}

.upload-right-btn.upload {
  width: 160px;
  height: 48px;
  margin-right: 0;
  font-weight: 500;
  font-size: 24px;
  background: #118AF7;
}

.upload-right-btn.upload:hover {
  border: 1px white solid;
  box-sizing: border-box;
}

.upload-right-btn.upload:active {
  border: 1px #118AF7 solid;
  background: #383C41;
}

.upload-right-btn.type1 {
  font-weight: 400;
  font-size: 22px;
  background: #118AF7;
}

.upload-right-btn.type1:hover {
  border: 1px white solid;
  box-sizing: border-box;
}

.upload-right-btn.type1:active {
  border: 1px #118AF7 solid;
  background: #383C41;
}