.filterable-table-container.PACsTable {
    position: relative;
    /* top:-100px; */
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    /* overflow-y: scroll; */
    /* width: 840px; */
    width: 100%;
    height: 100%;
    
    /* padding-right:-10px; */
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
  
    text-align: center;
    color: #FFFFFF;
  
    /* border: 1px yellow solid;
    box-sizing: border-box; */
  }
  
  .filterable-table-container.PACsTable>div:first-child {
    display: none;
  }
  
  .filterable-table-container.PACsTable>.table-container {
    /* width: 820px; */
    width:100%;
    height: 650px;
    /* width: 80%;
    height: 80%; */
    /* border: white solid; */
    /* background: red; */
    position: relative;
    background: rgb(56, 60, 65);
    /* background: rgba(41, 45, 48, 1); */
    /* border: red solid; */
    /* box-sizing: border-box; */
    overflow-y: scroll;
  }
  
  
  .filterable-table-container.PACsTable>.table-container>nav {
    width: 95%;
  }
  
  
  .PACsTable.filterable-table {
    user-select: none;
    /* background:rgba(255, 255, 255, 0.5); */
    /* width: 800px; */
    width:100%;
    border-collapse: collapse;
    /* border: 0; */
    /* height:500px; */
    /* background: rgba(56, 60, 65, 1); */
    background: rgb(56, 60, 65);
    cursor: pointer;
    /* background:rgba(56, 60, 65,0.1); */
    /* border: red solid;
    box-sizing: border-box; */
  }
  
  .PACsTable.filterable-table>thead>tr {
    /* background: #383C41; */
    height: 50px;
  }
  .PACsTable.filterable-table>thead>tr>th {
    /* background: #383C41; */
    /* height: 50px; */
    border: 0px red solid;
    box-sizing:border-box;
  }
  
  
  .PACsTable.filterable-table>thead>tr>th:nth-child(1) {
    width: 100px;
    max-width: 100px;
  }
  
  .PACsTable.filterable-table>thead>tr>th:nth-child(2) {
    width: 100px;
    /* border: red solid; */
  }
  
  .PACsTable.filterable-table>thead>tr>th:nth-child(3) {
    width: 300px;
    max-width: 300px;
    /* border: green solid; */
  }
  
  .PACsTable.filterable-table>thead>tr>th:nth-child(4) {
    width: 30px;
  }
  
  .PACsTable.filterable-table>thead>tr>th:nth-child(5) {
    width: 40px;
    /* border: red solid; */
  }
  
  .PACsTable.filterable-table>thead>tr>th:nth-child(6) {
    width: 20px;
    /* border: red solid; */
  }
  .PACsTable.filterable-table>thead>tr>th:nth-child(7) {
    /* width: 300px; */
  }
  .PACsTable.filterable-table>thead>tr>th:nth-child(8) {
    width: 20px;
  }
  
  /* .PACsTable.filterable-table>thead>tr>th:nth-child(7) {
    width: 180px;
  } */
  
  .PACsTable.filterable-table>tbody {
    user-select: none;
    /* background:rgba(0,0,0,0.3); */
    background: rgb(56, 60, 65);
    /* border: yellow solid;
    box-sizing: border-box; */
    /* border: red solid; */
  }
  
  .PACsTable.filterable-table>tbody>tr {
    /* background:rgba(0,0,0,0.3); */
    height: 65px;
    /* width: 100px; */
    /* display: inline-table; */
    /* margin: 1em; */
    /* background:#292D30; */
    /* border: red solid; */
  }
  
  .PACsTable.filterable-table>tbody>tr:hover {
    /* background:rgba(0,0,0,0.3); */
    color: white;
    border: 1px #118AF7 solid;
    box-sizing: border-box;
  }
  
  .filterable-table>tbody>tr:active {
    background: #292D30;
  }
  
  .PACsTable.filterable-table>tbody>tr>td:nth-child(1) {
    width: 100%;
    height: 65px;
    /* height: 50px; */
    /* width: 100px;
    max-width: 100px; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    /* border: red solid; */
    /* align-items: center; */
  }
  
  .PACsTable.filterable-table>tbody>tr>td:nth-child(1)>span {
    /* height: 100%; */
    height: 65px;
  }
  
  .PACsTable.filterable-table>tbody>tr>td:nth-child(2) {
    width: 100px;
    max-width: 100px;
    height: 65px;
    /* height: 50px; */
    /* border: red solid; */
    align-items: center;
  }
  
  .PACsTable.filterable-table>tbody>tr>td:nth-child(3) {
    /* width: 300px; */
    max-width: 300px;
    /* height: 50px; */
    /* border: white solid; */
    /* white-space: nowrap; */
    /* overflow: auto; */
    /* word-break: normal; */
  }
  
  .PACsTable.filterable-table>tbody>tr>td:nth-child(3)>span>div {
    /* justify-content: center; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* border: red solid; */
  }
  
  .PACsTable.filterable-table>tbody>tr>td:nth-child(4) {
    width: 30px;
    max-width: 30px;
    /* padding-right: 5px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* border: red solid; */
    /* height: 50px; */
  }
  
  .PACsTable.filterable-table>tbody>tr>td:nth-child(1)>span {
    width: 100%;
    /* padding-left: 10px; */
    /* background: white; */
  }
  
  .PACsTable.filterable-table>tbody>tr>td {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    height: 56px;
    border: 0px blue solid;
    box-sizing:border-box;
  }
  
  .pagination {
    /* width: 100%; */
    /* overflow: hidden; */
    padding: 0;
    /* margin: 10px; */
    /* background:white; */
    /* display:none; */
    list-style-type: none;
    white-space: nowrap;
  }
  
  .pagination>li {
    display: inline-block;
    /* height: 40px;
    width: 60px; */
    /* border: white solid; */
  }
  
  .pagination>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    /* border: red solid; */
    height: 40px;
    width: 60px;
  }
  
  .pagination>li>a:hover {
    border: 1px #118AF7 solid;
    box-sizing: border-box;
  }
  
  .btn-numbered-page.active {
    /* background: black; */
    color: #118AF7;
  }
  
  .btn-last-page {
    display: none;
    visibility: hidden;
  }
  
  .btn-first-page {
    display: none;
    visibility: hidden;
  }
  
  .PACsTable-Default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* word-break: break-word; */
    /* border: #1AFFD6 solid; */
  }
  
  .PACsTable-Default>.Hide-Scroll {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -19px;
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    /* border: red solid; */
    overflow-x: scroll;
    white-space: nowrap;
    /* padding-bottom: 20px; */
    /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: border-box;
    /* overflow-x: scroll; */
  }
  
  .PACsTable-Default.sel {
    /* background: #292D30; */
    /* background: red; */
  }
  
  .PACsTable-Default.focus {
    color: #118AF7;
    /* border: 1.5px #118AF7 solid;
    box-sizing: border-box; */
  }
  
  .PACsTable-Default.sel.focus {
    color: #118AF7;
    /* border: 1.5px #118AF7 solid;
    box-sizing: border-box; */
  }
  
  .PACsTable-Select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 20px;
    height: 20px;
    border: 1.5px solid #91919C;
    box-sizing: border-box;
  }
  
  .PACsTable-Select.act {
    width: 20px;
    height: 20px;
    border: 1.5px #118AF7 solid;
    box-sizing: border-box;
  }
  
  .PACsTable-Select.act>div {
    width: 12px;
    height: 12px;
    background: #118AF7;
    box-sizing: border-box;
  }
  
  .PACsTable-Tracer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    /* height: 100%; */
    /* border: red solid;
    background: #118AF7;
    box-sizing: border-box; */
  }
  
  .PACsTable-Tracer>div {
    text-align: left;
    border-left: white solid;
    /* margin-left: 0px; */
    width: 100%;
    /* border: 1px blue solid; */
  }
  
  .PACsTable-Tracer.FMM>div {
    border-left: #118AF7 solid;
    /* border: red solid; */
  }
  .PACsTable-Tracer.PIB>div {
    border-left: #b2f711 solid;
    /* border: red solid; */
  }
  
  .PACsTable-Tracer.FBP>div {
    border-left: #1AFFD6 solid;
  }
  
  .PACsTable-Tracer.FBB>div {
    border-left: #FF6D4C solid;
  }
  
  .PACsTable-SUVR {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: red solid; */
  }
  
  .PACsTable-SUVR>span {
    display: inline-block;
    text-align: right;
    color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  
    color: #FFFFFF;
    width: 60px;
    margin-right: 30px;
    /* border: red solid; */
  }
  
  .UploaderIcon-Delete {
    stroke: white;
    width: 40px;
    height: 40px;
    /* border: red solid; */
  }
  
  .UploaderIcon-Delete:hover {
    stroke: #118AF7;
  }