.filterable-table-container.WorklistTable {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  color: #FFFFFF;
  overflow: hidden;

  user-select: none;

  /* border: yellow solid;
  box-sizing: border-box; */
}

.filterable-table-container.WorklistTable>div:first-child {
  display: none;
}

.filterable-table-container.WorklistTable>.table-container {
  width: 94%;
  height: 74%;
  /* width: 80%;
  height: 80%; */
  /* border: white solid; */
  /* background: red; */
  top:90px;
  position: absolute;
  /* background: rgba(41, 45, 48, 0.7); */
  background: #3B3C41;
  /* border: red solid;
  box-sizing: border-box; */
  overflow: hidden;
}

.filterable-table-container.WorklistTable>.table-container>div {
  /* width: 100%; */
  height: 100%;
  /* overflow-y: scroll; */
  /* border: red solid; */
}

.filterable-table-container.WorklistTable>.table-container>nav {
  /* border: white; */
  /* display: none; */
  /* position: absolute; */
  /* top:0; */
  /* bottom: 0;
  width: 100%;
  background: #383C41; */
  background: #3B3C41;
  width: 95%;
}

.WorklistTable.filterable-table {
  position:relative;
  /* background:rgba(255, 255, 255, 0.5); */
  border-collapse: collapse;
  /* border: 0; */
  /* height:500px; */
  background: rgba(56, 60, 65, 1);
  cursor: pointer;
  /* width: 935px; */
  height: 100%;
  /* background:rgba(56, 60, 65,0.1); */
  /* border: red solid;
  box-sizing: border-box; */
}
.WorklistTable.filterable-table>thead {
  left:10px;
  /* right: 0px; */
  border-bottom: 1px white solid;
  /* position: absolute; */
  top: 0px;
  z-index: 10; 
}

.WorklistTable.filterable-table>thead>tr {
  /* width: 900px; */
  background: #2B2F32;
  height: 70px;
}

.WorklistTable.filterable-table>thead>tr>th {
  /* background: yellow; */
  /* width: 270px;
  height: 70px; */
  /* border: white solid; */
  /* opacity: 1; */
  /* display:flex;
  justify-content:center;
  align-items:center; */
  /* width: 900px; */
  border: 0px red solid;
  box-sizing:border-box;
}

.WorklistTable.filterable-table>thead>tr>th:nth-child(1) {
  width: 80px;
}
.WorklistTable.filterable-table>thead>tr>th:nth-child(2) {
  width: 120px;
}
.WorklistTable.filterable-table>thead>tr>th:nth-child(3) {
  width: 400px;
  /* min-width: 300px;
  max-width: 300px; */
  /* border: 1px red solid;
  box-sizing: border-box; */
}
.WorklistTable.filterable-table>thead>tr>th:nth-child(4) {
  width: 120px;
}

.WorklistTable.filterable-table>thead>tr>th:nth-child(5) {
  width: 120px;
}

.WorklistTable.filterable-table>thead>tr>th:nth-child(6) {
  width:50px;
}

.WorklistTable.filterable-table>thead>tr>th:nth-child(7) {
  width:50px;
}

.WorklistTable.filterable-table>tbody {
  position: absolute;
  background: #3B3C41;
  top: 76px;
  /* left:10px; */
  /* width: 950px; */
  height: 90%;
  /* width: 100% !important; */
  /* border: 1px red solid; */
  overflow-y: scroll;
  width:105%;
  /* border: 1px white solid;
  box-sizing: border-box; */
}

.WorklistTable.filterable-table>tbody>tr {
  /* background:rgba(0,0,0,0.3); */
  /* height: 67px; */
  /* border: 1px white solid; */
  /* background:#292D30; */
  /* width:100%; */
}

.filterable-table>tbody>tr:hover {
  /* background:rgba(0,0,0,0.3); */
  /* background: transparent;
  border: 1.5px #118AF7 solid;
  box-sizing: border-box; */
  color: #118AF7;
}
.WorklistTable.filterable-table>tbody>tr>td {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  height: 100%;
  /* height: 56px; */
  border: 0px yellow solid;
  box-sizing:border-box;
}

.WorklistTable.filterable-table>tbody>tr>td>span {
  /* background: white; */
  /* display: block; */
  /* width: 100%; */
  height: 100%;
}

.WorklistTable.filterable-table>tbody>tr>td:nth-child(1) {
  width: 80px;
}
.WorklistTable.filterable-table>tbody>tr>td:nth-child(2) {
  width: 120px;
}

.WorklistTable.filterable-table>tbody>tr>td:nth-child(3) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  height: 56px;
  width: 400px;
  /* border: 1px red solid; */
}

.WorklistTable.filterable-table>tbody>tr>td:nth-child(3)>span {
  display: block;
  width: 390px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  /* border: yellow solid;*/
}

.WorklistTable.filterable-table>tbody>tr>td:nth-child(3)>span>.WorklistTable-Default {
  height: 130%;
  width: 100%;
  /* width:100%; */
  /* width:400px; */
  /* height: 85px; */
  display: block;
  padding-top: 18px;
  padding-left: 15px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  /* border: red solid; */
}

.WorklistTable.filterable-table>tbody>tr>td:nth-child(4) {
  width: 120px;
  /* border: 1px red solid; */
}
.WorklistTable.filterable-table>tbody>tr>td:nth-child(5) {
  width: 120px;
  /* border: 1px red solid; */
}
.WorklistTable.filterable-table>tbody>tr>td:nth-child(6) {
  width:50px;
  /* border: 1px red solid; */
}
.WorklistTable.filterable-table>tbody>tr>td:nth-child(7) {
  width:50px;
  /* border: 1px red solid; */
}

.pagination {
  width: 100%;
  overflow: hidden;
  /* padding:0; */
  margin: 10px;
  /* background:white; */
  /* display:none; */
  list-style-type: none;
  white-space: nowrap;
}

.pagination>li {
  display: inline-block;
  /* height: 40px;
  width: 60px; */
  /* border: white solid; */
}

.pagination>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  /* border: red solid; */
  height: 40px;
  width: 60px;
}

.pagination>li>a:hover {
  border: 1px #118AF7 solid;
  box-sizing: border-box;
}

.btn-numbered-page.active {
  /* background: black; */
  color: #118AF7;
}

.btn-last-page {
  display: none;
  visibility: hidden;
}

.btn-first-page {
  display: none;
  visibility: hidden;
}



.WorklistTable-Default.opened,
.WorklistTable-Default.sel.opened {
  /* color: #118AF7; */
  /* background: #292D30; */
  color: #118AF7;
  height:67px;
  /* border:#1AFFD6 1px solid; */
}


.WorklistTable-Default.sel {
  /* background: #292D30; */
}

.WorklistTable-Select.sel {
  background: #292D30;
}

.WorklistTable-Tracer.sel {
  background: #292D30;
}

.WorklistTable-Default {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  /* background: #292D30; */
  /* border: yellow solid; */
}

.WorklistTable-Select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 20px;
  height: 20px;
  border: 1.5px solid #91919C;
  box-sizing: border-box;
}

.WorklistTable-Select.act {
  width: 20px;
  height: 20px;
  border: 1.5px #118AF7 solid;
  box-sizing: border-box;
}

.WorklistTable-Select.act>div {
  width: 12px;
  height: 12px;
  background: #118AF7;
  box-sizing: border-box;
}

.WorklistTable-Tracer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: red solid;
  background: #118AF7;
  box-sizing: border-box; */
}

.WorklistTable-Tracer>div {
  text-align: left;
  border-left: white solid;
  margin-left: 10%;
  width: 100%;
  white-space: nowrap;
}

.WorklistTable-Tracer.FMM>div {
  border-left: #118AF7 solid;
}
.WorklistTable-Tracer.PIB>div {
  border-left: #b2f711 solid;
}

.WorklistTable-Tracer.FBP>div {
  border-left: #1AFFD6 solid;
}

.WorklistTable-Tracer.FBB>div {
  border-left: #FF6D4C solid;
}

.WorklistTable-SUVR {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: red solid; */
}

.WorklistTable-SUVR>span {
  display: inline-block;
  text-align: right;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
  width: 60px;
  margin-right: 30px;
  /* border: red solid; */
}

.WorklistIcon-Delete {
  stroke: white;
  width: 40px;
  height: 40px;
  /* border: red solid; */
}

.WorklistIcon-Delete:hover {
  stroke: #118AF7;
}