.filterable-table-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    color: #FFFFFF;

    /* border: yellow solid; */
}

.filterable-table-container>div:first-child {
    display: none;
}

.table-container {
    /* width:100%; */
    /* width: 80%;
    height: 80%; */
    /* border: white solid; */
    /* background: red; */
    position: relative;
    background: rgba(41, 45, 48, 0.7);
    /* overflow: auto; */
    height: 810px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: red solid;
    box-sizing: border-box; */
}


.table.table-condensed.table-hover.filterable-table {
    /* background:rgba(255, 255, 255, 0.5); */
    border-collapse: collapse;
    /* border: 0; */
    background: rgba(56, 60, 65, 1);
    cursor: pointer;
    /* background:rgba(56, 60, 65,0.1); */
    /* height: 530px;
    overflow-y: scroll; */

    /* border: red solid;
    box-sizing: border-box; */
}

.table.table-condensed.table-hover.filterable-table>thead>tr {
    /* background: blue; */
    height: 60px;
}

.table.table-condensed.table-hover.filterable-table>thead>tr>th {
    /* background: yellow; */
    width: 270px;
    height: 60px;
    /* opacity: 1; */
}

.table.table-condensed.table-hover.filterable-table>thead>tr>th:nth-child(1) {
    width: 90px;
    /* border: red solid; */
}

.table.table-condensed.table-hover.filterable-table>thead>tr>th:nth-child(2) {
    width: 150px;
}

.table.table-condensed.table-hover.filterable-table>thead>tr>th:nth-child(3) {
    width: 300px;
}

.table.table-condensed.table-hover.filterable-table>thead>tr>th:nth-child(6) {
    width: 80px;
}

.table.table-condensed.table-hover.filterable-table>thead>tr>th:nth-child(7) {
    width: 80px;
}

.table.table-condensed.table-hover.filterable-table>tbody {
    /* background:rgba(0,0,0,0.3); */
    background: rgba(41, 45, 48, 0.7);
    /* border: white solid;
    box-sizing: border-box; */
}

.table.table-condensed.table-hover.filterable-table>tbody>tr {
    /* background:rgba(0,0,0,0.3); */
    height: 67px;
    /* background:#292D30; */
}

.table.table-condensed.table-hover.filterable-table>tbody>tr:hover {
    /* background:rgba(0,0,0,0.3); */
    /* background: #292D30; */
    /* color: #118AF7; */
    color: white;
    border: 1.5px #118AF7 solid;
    box-sizing: border-box;
}


.table.table-condensed.table-hover.filterable-table>tbody>tr>td:nth-child(1)>span {
    display: block;

    width: 100%;
    height: 100%;
    /* border: green solid;
    box-sizing: border-box; */
}

.table.table-condensed.table-hover.filterable-table>tbody>tr>td:nth-child(1) {
    /* width: 20px; */
    /* border: white solid; */
    /* display: flex;
    justify-content: center;
    height: 100%; */
    /* align-items: center; */
}

.table.table-condensed.table-hover.filterable-table>tbody>tr>td {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    height: 56px;
    /* box-sizing: border-box;
    background: green; */
}

.table-container>nav {
    /* border: white; */
    /* display: none; */
    /* position: absolute; */
    /* top:0; */
    /* bottom: 0px; */
    width: 95%;
    /* background: #383C41; */
    /* border: white solid; */
}

.pagination {
    /* display: none; */
    /* width: 100%; */
    /* padding:0; */
    /* margin: 10px; */
    /* background:white; */
    /* display:none; */
    list-style-type: none;
    white-space: nowrap;
}

.pagination>li {
    display: inline-block;
    /* height: 40px;
    width: 60px; */
    /* border: white solid; */
}

.pagination>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    /* border: red solid; */
    height: 40px;
    width: 60px;
}

.pagination>li>a:hover {
    border: 1px #118AF7 solid;
    box-sizing: border-box;
}

.btn-numbered-page.active {
    /* background: black; */
    color: #118AF7;
}

.btn-last-page {
    display: none;
    visibility: hidden;
}

.btn-first-page {
    display: none;
    visibility: hidden;
}

.UploadTable-Default.sel {
    /* background: #292D30; */
}

/* .UploadTable-Default.sel.opened {
} */

.UploadTable-Default.opened {
    /* color: #118AF7; */
    background: #292D30;
    color: #118AF7;
}

.UploadTable-Default {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: red solid; */
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.UploadTable-Select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 20px;
    height: 20px;
    border: 1.5px solid #91919C;
    box-sizing: border-box;
}

.UploadTable-Select.act {
    width: 20px;
    height: 20px;
    border: 1.5px #118AF7 solid;
    box-sizing: border-box;
}

.UploadTable-Select.act>div {
    width: 12px;
    height: 12px;
    background: #118AF7;
    box-sizing: border-box;
}

.UploadTable-Tracer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: red solid;
    background: #118AF7;
    box-sizing:border-box; */
}

.UploadTable-Tracer>div {
    text-align: left;
    border-left: white solid;
    margin-left: 20%;
    width: 100%;
}

.UploadTable-Tracer.C-PIB>div {
    border-left: #118AF7 solid;
}

.UploadTable-Tracer.FBP>div {
    border-left: #1AFFD6 solid;
}

.UploadTable-Tracer.FBB>div {
    border-left: #FF6D4C solid;
}

.UploadTable-SUVR {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: red solid; */
}

.UploadTable-SUVR>span {
    display: inline-block;
    text-align: right;
    color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    width: 60px;
    margin-right: 30px;
    /* border: red solid; */
}